<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration" requirePermission="false" />
  </configSections>
  <unity xmlns="http://schemas.microsoft.com/practices/2013/unity">
    <typeAliases>
      <!-- Models-->
      <typeAlias alias="IEmployeeRepository" type="Splendent.MyProject.Business.Interfaces.IEmployeeRepository, Splendent.MyProject.Business" />
      <typeAlias alias="EmployeeRepository" type="Splendent.MyProject.Business.Repository.EmployeeRepository, Splendent.MyProject.Business" />

      <typeAlias alias="IUnitOfWork" type="Splendent.MyProject.Business.Interfaces.IUnitOfWork, Splendent.MyProject.Business" />
      <typeAlias alias="UnitOfWork" type="Splendent.MyProject.Business.Repository.UnitOfWork, Splendent.MyProject.Business" />
      
    </typeAliases>
    <containers>
      <container>
        <types>

          <type type="IEmployeeRepository" mapTo="EmployeeRepository">
            <lifetime type="Microsoft.Practices.Unity.TransientLifetimeManager, Microsoft.Practices.Unity" />
          </type>

          <type type="IUnitOfWork" mapTo="UnitOfWork">
            <lifetime type="Microsoft.Practices.Unity.TransientLifetimeManager, Microsoft.Practices.Unity" />
          </type>
          
        </types>
      </container>
    </containers>
  </unity>
</configuration>